<!DOCTYPE html>
<head>
  <title>jokez f'days</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
  <div class="header">
    <a href="/">
      <h1>jokez</h1>
    </a>
  </div>
  <div class="joke-links">
    <% @posts.each do |post| %>
      <p><a href="/detail/<%= post.id %>"><%= post.title %></a></p>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="joke-input">
    <p id="error">
      <% unless @post.errors.empty? %>
        <%= @post.errors.full_messages.first.to_s.downcase %>
      <% end %>
    </p>
    <span class="joke-prompt">enter a joke</span>
    <br/><br/>
    <form action="/form" method="post">
      <input type="text" size="40" name="title" placeholder="SO YOU GOT JOKES?!" value="<%= @post.title %>">
      <br/>
      <input class="joke-input" type="text" size="40" name="content" placeholder="PUNCHLINE" value="<%= @post.content %>">
      <br/>
      <input type="submit" value="submit">
    </form>
  </div>

  <div class="sign-up">
    <a href="/signup">sign up</a>
  </div>


  <div class="welcome-login">
    <div class="welcome-message">
      <p><%= "welcome #{@welcome_name}" %>
        <% if @new_user.id != nil %>
          <%= @new_user.username %>
        <%end%>
      </p>
    </div>
    <div class="login">
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password"><br/>
        <input type="submit" value="log in">
      </form>
    </div>
  </div>
</div>

</body>
</html>