<!DOCTYPE html>
<head>
  <title>jokez f'days</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
  <a href="/">
    <h1>jokez</h1>
  </a>
  <% @posts.each do |post| %>
    <p><a href="/detail/<%= post.id %>"><%= post.title %></a></p>
    <!-- <br/><em><%= post.content[0..25] %></em><p> -->
  <% end %>
</div>

<br/>
<div class="body">
  <p id="error"><%= @post_errors %></p>
  <span class="joke_prompt">enter a joke</span>
  <br/><br/>
  <form action="/form" method="post">
  	<input type="text" size="40" name="title" placeholder="SO YOU GOT JOKES?!" value="<%= @post.title %>">
    <br/>
  	<input type="text" size="40" name="content" placeholder="PUNCHLINE" value="<%= @post.content %>">
    <br/>
    <input type="submit" value="submit">
  </form>
</div>

</body>
</html>
