<!DOCTYPE html>
<head> 
  <title>jokez f'days</title>
  <link href="../public/style.css" rel="stylesheet" type="text/css">
</head>

<h1>JokeZ</h1>

<ul>
  <% @posts.each do |post| %>
    <li><a href="/detail/<%= post.id %>"><%= post.title %></a>
      <br/>
      <em><%= post.content[0..25] %></em>
    </li>
  <% end %>
</ul>

<p>Enter a JOKE!</p>

<% unless @post.errors.empty? %>
  <%= @post.errors.full_messages.first %>
<% end %>

<br/><br/>

<form action="/form" method="post">  
	<label>Title
		<br/>
	  <input type="text" name="title" value="<%=@post.title%>">  
  </label>
  <br/>
  <label>Content
  	<br/>
  	<textarea rows="5" cols="50" name="content"><%=@post.content%></textarea>
  </label>
	  <input type="submit" value="Submit">
</form>  

<!-- <p>hi cricket... aka code name konami</p> -->
